<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iStore</title>
    <!-- bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- custom Style  -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../images/logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <!-- navbar  -->
        <nav class="navbar navbar-expand-lg navbar-light bglight fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img style="height: 30px;" src="../../images/apple.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../../index.html">iStore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../../component/mac/mac.html">Mac</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../../component/ipad/ipad.html">iPad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../../component/iphone/iphone.html">iPhone</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Image slider carousel -->
        <section class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row p-5 panda-bg-info bg-gradient d-flex align-items-center">
                            <div class="col-lg-6">
                                <h1>All new <span style="color: #266DCE;">iPad</span> </h1>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../images/ipad/slider (1).png" height="500" class="d-block w-100"
                                    alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row p-5 panda-bg-info bg-gradient d-flex align-items-center">
                            <div class="col-lg-6">
                                <h1>iPad <span style="color:#D5ACA2;">Air</span></h1>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../images/ipad/slider (6).png" class="d-block w-100" height="500"
                                    alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row p-5 panda-bg-info bg-gradient d-flex align-items-center">
                            <div class="col-lg-6">
                                <h1>iPad <span style="color: #EF46FC;">mini</span></h1>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../images/ipad/slider (3).png" class="d-block w-100" height="500"
                                    alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    </header>

    <!-- header start -->
    <main>

        <!-- iPads Section  -->
        <section class="container mt-5" id="iPad">
            <h2>iPad</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="../../images/ipad/shop_1.png" class="card-img-top" alt="...">
                        <div class="card-body">

                            <h6 class="card-title">iPad Pro</h6>
                            <p class="card-text">The ultimate iPad experience. Now with breakthrough M1 performance.</p>

                        </div>
                        <div class="m-3">
                            <h6>From $799</h6>
                            <a href="../ipad/price (1).html">
                                <button class="panda-btn">Buy >></button>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="../../images/ipad/shop_2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">iPad Air</h6>
                            <p class="card-text">With A14 Bionic, you have the power to bring your ideas to life.
                        </div>
                        <div class="m-3">
                            <h6>From $599</h6>
                            <a href="../ipad/price (2).html">
                                <button class="panda-btn">Buy >></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="../../images/ipad/shop_3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">iPad</h6>
                            <p class="card-text">Powerful. Easy to use. Versatile. The new iPad is designed for all the
                                things you love to do.</p>
                        </div>
                        <div class="m-3">
                            <h6>From $329</h6>
                            <a href="../ipad/price (3).html">
                                <button class="panda-btn">Buy >></button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="../../images/iPad/shop_4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">iPad mini</h6>
                            <p class="card-text">The magic of iPad. In the palm of your hand.</p>
                        </div>
                        <div class="m-3">
                            <h6>From $499</h6>
                            <a href="../ipad/price (4).html">
                                <button class="panda-btn">Buy >></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe  -->
        <section style="height: 300px;"
            class="container d-flex justify-content-center mt-5 panda-bg-info align-items-center rounded-3"
            id="Subscribe">
            <div>
                <h1>LET'S STAY IN TOUCH</h1>
                <p>Get updates on sales, specials and more</p>
                <input class="form-control" type="text" placeholder="Your Email">
                <br>
                <button class="panda-btn m-1">SUBMIT</button>
            </div>
        </section>

    </main>


    <footer class="mt-5 text-center" style="background-color: #E0E0E0;">
        <p><small>©2022. iStore. All rights reserved.</small></p>
    </footer>

    <!-- bootstrap Scrip -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>